<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="show.css">
    <link rel="stylesheet" type="text/css" href="new.css">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="echarts.min.js" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"
        defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"
        defer="defer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"
        defer="defer"></script>

    <script src="ckeditor.js" defer="defer"></script>
    <script src="https://www.echartsjs.com/zh/dist/echarts-gl.js" defer="defer"></script>
    <script src="show.js" defer="defer"></script>
    <title>Read Article</title>
</head>

<body data-editor="ClassicEditor" data-collaboration="false">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/show">Article</a>
                </li>
    </nav>
    <h2 style="display:none;" id="myData1"><%= article.content_1 %></h2>
    <h2 style="display:none;" id="myData2"><%= article.content_2 %></h2>
    <div class="container mt-4">
        <div class="card border-0">
            <div class="card-body">
                <div class="row row-editor justify-content-center">
                    <div class="editor_1"></div>
                </div>
                <div class="row">
                    <div class="col" id="myCol1">
                        <div id="main1" class="myclass"></div>
                    </div>
                    <div class="col">
                        <div id="main2" class="myclass"></div>
                    </div>
                    <div class="col">
                        <div id="main3" class="myclass"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="myCol2">
                        <div id="main4" class="myclass"></div>
                    </div>
                    <div class="col">
                        <div id="main5" class="myclass"></div>
                    </div>
                </div>
                <div class="row row-editor justify-content-center">
                    <div class="editor_2"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>